body {
      font-family: Arial, Helvetica, sans-serif;
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  text-align: center;
}

input {
     border-radius: 12px;
  border: 2px solid transparent;
  box-shadow: 0px 2px 2px 2px rgb(0, 0, 0);
  transition: border 0.3s ease-in-out;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

input:focus {
  border-color: #aa00ff;
}
input::placeholder {
  font-size: 0.9rem;
}